<!-- <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button> -->

<mat-card>
    <!-- <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper"> -->
      <mat-vertical-stepper [linear]="isLinear" #stepper class="stepper">
  
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel> O que pretende comer?</ng-template> 
          <!-- <mat-icon>local_library</mat-icon> -->
          <mat-form-field class="example-container">
            <input (change)="buscarEstabelecimentos()" matInput formControlName="firstCtrl">
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel> Tipo do Estabelecimento?</ng-template>
          <!-- <mat-icon>store_mall_directory</mat-icon> -->
          <mat-form-field class="example-container">
            <input (change)="buscarEstabelecimentos()" matInput formControlName="thirdCtrl">
          </mat-form-field>
          <div>
            <button mat-raised-button color="warn"matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
   
    </mat-vertical-stepper>
    
    <button mat-raised-button color="success" [disabled]="queryString !== 'undefined'" (click)="buscarEstabelecimentos()">Buscar</button>
  
  </mat-card>