.background-tabs{
    background-color: #FF6E40;
}
.tab-color{
    color: #ff6e40;
}

.button-confirm{
    background-color: #FF6E40;
    color: white;
}

.padding-tab{
    padding: 1%;
}
.mat-tab-label{
    color: #ff6e40 !important;
}
.icon-title{
    margin: 0.6%;
}

.row-title{
    display: flex;
    flex-direction: row;
}
.list{
    height: 20em;
    overflow: auto;
}
.p-0{
    padding: 0px 0px !important;
}
.star{
    color: #FFD740; 
    border-color: #424242; 
}
.row-rating{
    display: flex;
    flex-direction: row;
}
.row-rating-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media{
    padding-right: 15%;
    font-size: 300%;
}
.size-avatar{
    margin-right: 1%;
    margin-left: -5%;
    color: #FF6E40 !important;
  }
.tab-modal-details{
    color: #FF6E40;
    height: 20em;
    width: 51em;
    overflow: auto;
}

@media only screen and (max-width: 374px) and (min-width: 320px) {
    .media{
        padding-right: 5%;
        font-size: 180%;
    }
    .fa-3x{
        font-size: 16px;
        padding-top: 20px;
    }
    .tab-modal-details{
        height: 22em;
        width: 11em;
    }
}
  @media only screen and (min-width: 375px) and (max-width: 413px)  {
    .media{
        padding-right: 5%;
        font-size: 220%;
    }
    .fa-3x{
        font-size: 25px;
        padding-top: 14px;
    }
    .tab-modal-details{
        height: 22em;
        width: 14em;
    }
  }
  @media only screen and (min-width: 414px) and (max-width: 812px)  {
    .media{
        padding-right: 5%;
        font-size: 265%;
    }
    .fa-3x{
        font-size: 32px;
        padding-top: 9px;
    } 
    .tab-modal-details{
        height: 22em;
        width: 16em;
    }
  }
  
  @media only screen and (min-height: 813px) and (max-height: 1024px)  {
    .tab-modal-details{
        height: 20em;
        width: 32em;
    } 
  }
  
  @media only screen and (min-height: 1025px) and (max-height: 1366px)  {
    .tab-modal-details{
        height: 19em;
        width: 44em;
    } 
  }
