<div class="row-title">
  <mat-icon class="icon-title">store_mall_directory</mat-icon>
  <h2 mat-dialog-title>{{data.place.name}}</h2>

</div>
<mat-card class="padding-card">
  <mat-tab-group class="tab-modal-details">

    <mat-tab label="Avaliações">
      <div *ngIf="data.place.reviews">
        <mat-card>
          <mat-card-header>
            <div class="row-rating">
              <div class="row-rating-label">
                <h2 class="media">{{data.place.rating}}</h2>
                <p>Média</p>
              </div>
              <a *ngFor="let item of data.place.starList">
                <i class="fa star fa-3x" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>
              </a>
            </div>
          </mat-card-header>
        </mat-card>
        <div *ngFor="let review of data.place.reviews">
          <mat-card>
            <mat-card-header>
                <avatar class="size-avatar" [name]="review.author_name" [displayType]="'circle'" [size]="40"></avatar>
                <div>
                  <mat-card-title>{{review.author_name}} - Nota {{review.rating}}</mat-card-title>
                  <mat-card-subtitle>{{review.relative_time_description}}</mat-card-subtitle>
                </div>
            </mat-card-header>
            <mat-card-content>
              <span>{{review.text}}</span>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Dados Úteis" class="padding-tab">

      <mat-list class="list">
        <mat-list-item>
          <span>
            <b>Site:</b>
            <a *ngIf="data.place.website" href="{{data.place.website}}">
              <p>{{data.place.website}}</p>
            </a>
            <p *ngIf="!data.place.website">Sem dados disponíveis :(</p>
          </span>
        </mat-list-item>
        <mat-list-item>
          <span>
            <b>Contato:</b>
            <p>{{data.place.international_phone_number? data.place.international_phone_number : "Sem dados disponíveis :("}}
            </p>
          </span>
        </mat-list-item>
        <mat-list-item>
          <span>
            <b>Endereço:</b>
            <p>{{data.place.vicinity ? data.place.vicinity : "Sem dados disponíveis :("}}</p>
          </span>
        </mat-list-item>
        <mat-list-item>
          <span>
            <b>Funcionamento:</b>
          </span>
        </mat-list-item>
        <div *ngIf="data.place.opening_hours">
          <mat-list-item *ngFor="let horairos of data.place.opening_hours.weekday_text; let i = index">
            {{horairos}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </div>
        <mat-list-item *ngIf="!data.place.opening_hours">
          Sem horários disponíveis
        </mat-list-item>
      </mat-list>

    </mat-tab>

    <mat-tab label="Informações Adicionais">
      <mat-list *ngFor="let details of data.place.dadosAdicionais.detalhes;">
        <mat-list-item> <b>{{details.titulo}}: </b> {{details.descricao}} 
          <mat-divider></mat-divider>
        </mat-list-item>
        <!-- <mat-divider></mat-divider> -->
        <!-- <mat-list-item> </mat-list-item> -->
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  <mat-card-header>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button mat-dialog-close class="button-confirm">Ok</button>
  </mat-card-actions>
</mat-card>