<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <avatar [name]="usuario.primeiroNome" [displayType]="'circle'" [size]="40"></avatar>
    </div>

    <mat-card-title>{{usuario.primeiroNome ? usuario.primeiroNome : 'Sem nome' }}</mat-card-title>
    <mat-card-subtitle>{{usuario.email? usuario.email : 'Sem email'}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="usuario.primeiroNome">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="usuario.email" type="email">
        <!-- <mat-error *ngIf="usuario.email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="usuario.permiteLocaliacao">
        Permitir sua localização atual?
      </mat-slide-toggle>

      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Alterar Senha:
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="example-container">
            <mat-form-field>
              <input matInput type="password" placeholder="Digite sua senha" [(ngModel)]="usuario.senha">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirme sua senha" type="password" [(ngModel)]="confirmaSenha">
              <mat-error *ngIf="confirmaSenha !== usuario.senha">{{getErrorConfirmPassword(confirmaSenha)}}</mat-error>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-card-actions>
        <button mat-raised-button class="button-color-orange" (click)="salvarUsuario()" [disabled]=" confirmaSenha !== usuario.senha">Salvar</button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>