<mat-tab-group class="padding-pages">
  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon>store_mall_directory</mat-icon>
    </ng-template>
    
    <mat-card class="example-card">
         
      <div class="padding-tabs">
        <mat-card-content class="padding-top">
        <input class="controls" type="text" placeholder="Encontre seu Estabelecimento" #search>
        <div style="text-align:center">
            <div #gmap style='width:100%;height:300px'></div>
          
            <div class="example-container">
              <mat-form-field>
                <input matInput #trigger placeholder="Identificador do seu local:" [(ngModel)]="place_id" disabled>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Nome do Estabelecimento:" [(ngModel)]="nome">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Telefone:" [(ngModel)]="telefone">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Website:" [(ngModel)]="website">
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Endereço:" [(ngModel)]="endereco">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon>local_dining</mat-icon>
    </ng-template>

    <div class="padding-tabs">
        <mat-card-title>Informações uteis para seus clientes</mat-card-title>
        
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option>Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
        <mat-icon>local_atm</mat-icon>
    </ng-template>
  
    <div class="padding-tabs">
        <mat-card-title>Pagamento</mat-card-title>
    </div>
  </mat-tab>

</mat-tab-group>
