.container {
    display: flex;
    flex-direction: column;
    padding: 1%;
  }

  .example-card {
    max-width: 100%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-expansion-panel-body > *{
    padding: 0%;
  }
  
  .container > * {
    width: 100%;
  }
  .padding-pages{
    padding-top: 1%;
    height: 100%;
  }

  .p0{
    padding: 0 !important;
  }

  .padding-tabs{
    padding: 10px;
  }
  .padding-top{
    padding-top: 10px;
  }
  .mt-1{
    margin-top: 1%;
  }

  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 28px;
    width: 210px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-left: 10px;
    left: 0% !important;
  }
