<!-- <mat-card class="example-card"> -->
<mat-accordion>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mapa:
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card-content class="padding-top">

      <div [style.display]="mapLoaded?'none':'inherit'">
        <input class="controls" type="text" placeholder="Digite o nome do seu Estabelecimento" #search>
      </div>
      <div style="text-align:center">
        <div #gmap style='width:100%;height:65vh;display:block;'></div>
      </div>
    </mat-card-content>


  </mat-expansion-panel>
</mat-accordion>

<!-- </mat-card> -->

<mat-tab-group class="padding-pages">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>store_mall_directory</mat-icon> Dados Úteis
    </ng-template>

    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Identificador do seu local:" [(ngModel)]="estabelecimento.place_id" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nome do Estabelecimento:" [(ngModel)]="estabelecimento.nome">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone:" [(ngModel)]="estabelecimento.telefone">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Website:" [(ngModel)]="estabelecimento.website">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Endereço:" [(ngModel)]="estabelecimento.endereco">
      </mat-form-field>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>local_dining</mat-icon> Informações
    </ng-template>

    <div class="padding-tabs">

      <button class="col-md-12" (click)="addDetail()" mat-icon-button matTooltip="Insira uma Informação" matTooltipPosition="before">
        <mat-icon>add_circle</mat-icon>
      </button>

      <div class="row" *ngFor="let detail of listDetails;  let i = index">
        <div class="col-md-12">
          <mat-card class="mt-1" [ngStyle]="{'background-color': i % 2 === 0 ? '#eeeeee' : '#fafafa' }">
            <mat-card-content>
              <div class="container">
                <mat-form-field>
                  <input matInput placeholder="Titulo:" [(ngModel)]="detail.titulo">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Descrição:" [(ngModel)]="detail.descricao">
                </mat-form-field>
              </div>
              <div style="display: flex; justify-content: flex-end;">
                <button mat-icon-button matTooltip="Novo Campo" matTooltipPosition="before" (click)="removeDetail(detail)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>local_atm</mat-icon> Pagamento
    </ng-template>

    <div class="padding-tabs">
      <!-- <mat-card-title>Pagamento</mat-card-title> -->
    </div>
  </mat-tab>

</mat-tab-group>
<button mat-button (click)="salvarEstabelecimento()">Salvar</button>