
<mat-card>	
  <div style="text-align:center" class="container">
      <!-- <mat-form-field class="example-full-width"> -->
      
      <!-- </mat-form-field> -->

    <!-- <input matInput placeholder="Favorite food" #search/>
    <div #gmap style='width:100%;height:400px'></div> -->

    <div class="form-group container">
        <mat-form-field>
          <input matInput placeholder="Onde gostaria de ir?" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </mat-form-field>
        </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>

  </div>
</mat-card>	
