<div mat-dialog-title class="row-title">
  <mat-icon class="icon-title">assignment_turned_in</mat-icon>
  <h2 mat-dialog-title>Termos de Uso</h2>
  <span class="menu-spacer"></span>
  <mat-checkbox class="example-margin" [(ngModel)]="checked">Aceito os Termos de Uso</mat-checkbox>
</div>

<div style="overflow: auto; height: 312px;">

  <h5 mat-dialog-title>
    Brunch
  </h5>
  <h5 mat-dialog-title>
    “Solução em busca de estabelecimentos alimentícios ”
  </h5>
  <h5 mat-dialog-title>
    Bem-vindo ao Brunch!
  </h5>

  <h5 mat-dialog-title>
    A nossa missão é facilitar o dia-a-dia de cada um oferecendo um serviço de busca para estabelecimentos
    alimentícios.

    Prezamos pela qualidade das informações e satisfação do usuário, e devido a isso é de extrema importância nossos
    usuários conheçam as regras de uso e condições.
  </h5>

  <h5 mat-dialog-title>

    1- Plataforma Web:

    O Brunch é uma plataforma web disponível para extensão em aplicativos móveis. Portanto pode ser acessado de
    computadores, tablets e smartphones.
  </h5>

  <h5 mat-dialog-title>

    2- Conteúdos:
  </h5>

  <h5 mat-dialog-title>

    2.1 Os usuários devem dispor por sua própria conta dos meios necessários para acessar o Brunch.

  </h5>

  <h5 mat-dialog-title>

    2.2 O Acesso aos códigos de programação , banco de dados ou qualquer outro conjunto de informações fazem parte do
    domínio da Equipe Insight. Assim como a reprodução dos itens deve ser consultado.
  </h5>


  <h5 mat-dialog-title>

    2.3 Torna-se proibido o uso de aplicativos de mineração de dados, de qualquer tipo ou espécie, além de outro aqui
    não tipificado.
  </h5>


  <h5 mat-dialog-title>


    3. Informações sobre a disponibilidade

  </h5>

  <h5 mat-dialog-title>

    3.1 O Brunch foca em sempre manter o serviço disponível porém reserva-se o direito de realizar atualizações que
    podem alterar a estrutura do site e está isento de responsabilidade caso fique fora do ar.
  </h5>


  <h5 mat-dialog-title>

    3.2 O Brunch está isento de responsabilidade no caso de dano, prejuízo ou perda no equipamento dos usuários
    causados por acessos em links externos.
  </h5>


  <h5 mat-dialog-title>

    3.3 O Brunch não se responsabiliza por informações disponibilizadas pelos estabelecimentos nem tanto pelo serviço
    oferecido pelo mesmo.
  </h5>




  <h5 mat-dialog-title>

    4. Uso Ético, Seguro e Legal

  </h5>
  <h5 mat-dialog-title>

    4.1 Ser ético é agir de acordo com as regras que orientam a sociedade, portanto os usuários devem sempre
    respeitar as condições que regem as leis.
  </h5>


  <h5 mat-dialog-title>

    4.2 Os usuários assumem toda e qualquer responsabilidade, de caráter civil e/ou criminal, pela utilização
    indevida das informações, textos, e afins.
  </h5>

  <h5 mat-dialog-title>
    Dúvidas ou Sugestões
  </h5>

  <h5 mat-dialog-title>
    suportebrunch@gmail.com
  </h5>
</div>

<mat-card-actions>
    <span class="menu-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary" class="button-confirm" (click)="aceito()" style="float: right; margin-right: 4%;margin-top: 2%;">Confirmar</button>
</mat-card-actions>