<mat-toolbar class="background-toolbar">
  <mat-toolbar-row>
    <span>Brunch</span>
    
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item color = "default" routerLink="/map" onclick="">Mapa</button>
      <button mat-menu-item color = "default" routerLink="/login" onclick="">Login</button>
      <button mat-menu-item color = "default" routerLink="/cadastroEstabelecimento" onclick="">Cadastro Estabelecimento</button>
      <button mat-menu-item color = "default" routerLink="/home" onclick="">Home</button>
      <button mat-menu-item color = "default" routerLink="/pageNotFound" onclick="">pageNotFound</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      >
    </button>
    
  </mat-toolbar-row>
</mat-toolbar>