.example-icon {
    padding: 0 14px;
}

.menu-spacer {
    flex: 1 1 auto;
}
.logout-spacer {
   flex: 0.02 1 auto;
}

.background-toolbar{
    background-color: #bababade;
}
.style-menu{
    padding: 0px;
    opacity: 0.9;
}
.style-toolbar{
    background-color: #ff6e4000;
}