<div mat-dialog-title class="row-title">
  <mat-icon class="icon-title">help</mat-icon>
  <h2 mat-dialog-title>F.A.Q - Perguntas Frequentes</h2>
  <span class="menu-spacer"></span>
  <button mat-icon-button (click)="onNoClick()" matTooltip="Fechar" matTooltipPosition="after">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pra que serve o Brunch?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>O objetivo do Brunch é ajudar cada pessoa a achar o estabelecimento ideal para visitar através de um sistema
        básico e intuitivo.</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Como faço para criar minha conta?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Na tela inicial do sistema, existem três formas de se cadastrar. Se você já possuir uma conta no Facebook ou
        Google poderá utiliza-las. Caso não possua faça um cadastro simples diretamente no site.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Como faço para sair do sistema?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>No menu de opções clique em Sair.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Como localizar um restaurante?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Após entrar com seu usuário e senha, clique na primeira barra de busca e insira uma palavra chave e o sistema
        apresentará as buscas.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Onde ficam as informações adicionais dos estabelecimentos?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Abaixo do mapa de pesquisa traz alguns dados adicionais. Caso o estabelecimento seja um parceiro, trará dados
        mais completos dele.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Como conveniar meu estabelecimento?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>No menu superior esquerdo, nas opções escolha a opção Seja Um Parceiro. O sistema solicitará os dados do seu
        estabelecimento e de pagamento.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
